#%RAML 1.0
---
title: Questions
baseUri: http://api.e-bookmobile.com/{version}
version: v1
/questions:
  displayName: Resources related to questions in the API.
  get:
    displayName: List All Questions
    body:
      application/json:
        example: |
          [
              {
                  "question": "Favourite programming language?",
                  "published_at": "2014-11-11T08:40:51.620Z",
                  "url": "/questions/1",
                  "choices": [
                      {
                          "choice": "Swift",
                          "url": "/questions/1/choices/1",
                          "votes": 2048
                      }, {
                          "choice": "Python",
                          "url": "/questions/1/choices/2",
                          "votes": 1024
                      }, {
                          "choice": "Objective-C",
                          "url": "/questions/1/choices/3",
                          "votes": 512
                      }, {
                          "choice": "Ruby",
                          "url": "/questions/1/choices/4",
                          "votes": 256
                      }
                  ]
              }
          ]
  post:
    displayName: Create a New Question
    description: |
      You may create your own question using this action. It takes a JSON object
      containing a question and a collection of answers in the form of choices.
  /{question_id}:
    get:
    delete:
